name: CI Test Pipeline

on:
    push:
        branches: ["main"]
    workflow_dispatch:

env:
    # 引用变量 vars.DOCKER_REGISTRY，若为定义则使用 ghcr.io
    REGISTRY: ${{ vars.DOCKER_REGISTRY || 'ghcr.io' }}
    # 引用密钥 secrets.PACKAGES_TOKEN，若为定义则使用 secrets.GITHUB_TOKEN
    REGISTRY_TOKEN: ${{ secrets.PACKAGES_TOKEN || secrets.GITHUB_TOKEN }}
    BUILDKITD_CONFIG_FILE: .github/${{ vars.BUILDKITD_CONFIG_FILE || 'buildkitd.toml' }}
    FULL_IMAGE_NAME: ${{ vars.DOCKER_REGISTRY || 'ghcr.io'}}/${{ github.repository_owner }}/sample_git

jobs:
    # 任务 1: 测试
    test:
        runs-on: ubuntu-latest
        container:
            # 使用同时有 python 与 nodejs 环境的镜像（nodejs 是因为 actions/checkout 需要 node 环境执行）
            image: nikolaik/python-nodejs
        steps:
            # 1. 拉取代码
            - name: Checkout
              uses: actions/checkout@v4

            # 2. 运行测试
            - name: Run Unittest
              run: python3 test_main.py

    # 任务 2: 构建并推送 Docker 镜像
    build:
        runs-on: ubuntu-latest
        needs: [test]
        permissions:
            packages: write
            contents: read
        steps:
            # 1. 拉取代码
            - name: Checkout
              uses: actions/checkout@v4

            # 2. 配置 Buildx
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
              with:
                  buildkitd-config: ${{ env.BUILDKITD_CONFIG_FILE }}

            # 3. 登录 Registry
            - name: Login
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ env.REGISTRY_TOKEN }}

            # 4. 构建并推送
            - name: Build and push (amd64)
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64
                  push: true
                  tags: ${{ env.FULL_IMAGE_NAME }}:latest
                  provenance: false
                  cache-from: type=registry,ref=${{ env.FULL_IMAGE_NAME }}:buildcache-amd64
                  cache-to: type=registry,ref=${{ env.FULL_IMAGE_NAME }}:buildcache-amd64,mode=max
