name: CI Test Pipeline

on:
    push:
        branches: ["main"]
    workflow_dispatch:

jobs:
    # 任务 1: 测试
    test:
        runs-on: ubuntu-latest
        container:
            # 使用同时有 python 与 nodejs 环境的镜像（nodejs 是因为 actions/checkout 需要 node 环境执行）
            image: nikolaik/python-nodejs
        steps:
            # 1. 拉取代码
            - name: Checkout
              uses: actions/checkout@v4

            # 2. 运行测试
            - name: Run Unittest
              run: python3 test_main.py

    # 任务 2: 构建并推送 Docker 镜像
    build:
        needs: test
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read
        steps:
            # 1. 拉取代码
            - name: Checkout
              uses: actions/checkout@v4

            # 2. 使用 Docker Meta 生成标签
            - name: Docker Meta
              id: meta
              uses: docker/metadata-action@v5
              with:
                  # 引用变量 vars.DOCKER_REGISTRY，若为定义则使用 ghcr.io
                  images: ${{ vars.DOCKER_REGISTRY || 'ghcr.io' }}/${{ github.repository }}
                  tags: type=raw,value=latest

            # 3. 登录 Registry
            - name: Login
              uses: docker/login-action@v3
              with:
                  registry: ${{ vars.DOCKER_REGISTRY || 'ghcr.io' }}
                  username: ${{ github.actor }}
                  # 引用密钥 secrets.PACKAGES_TOKEN，若为定义则使用 secrets.GITHUB_TOKEN
                  password: ${{ secrets.PACKAGES_TOKEN || secrets.GITHUB_TOKEN }}

            # 4. 构建并推送
            - name: Build and Push
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
